.section {
  padding: var(--space-xl) 0;
}

.sectionTitle,
.sectionSubtitle {
  margin-bottom: var(--space-md);
}

.sectionTitle {
  font-size: var(--font-size-lg);
}

.sectionSubtitle {
  font-size: var(--font-size-md);
  font-weight: 300;
  color: var(--color-secondary-font);
}

.subtitleSkeleton {
  width: 60px;
  height: 19px;
  margin-bottom: var(--space-md);
}
