.container {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: calc(100dvh - 3rem);
}

.errorMessage {
    font-weight: 500;
    text-align: center;
    text-wrap: balance;
}