# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# debug
.pnpm-debug.log*

# environment variables
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# os / editor
.DS_Store
*.pem

# personal
/docs
.github/copilot-instructions.md

# misc
package-lock.json