.title {
  font-size: var(--font-size-lg);
  font-weight: 600;
  margin-bottom: var(--space-md);
}

.link {
    display: inline-block;
    font-size: var(--font-size-md);
    color: var(--color-secondary-font);
    cursor: not-allowed;
    margin-bottom: 0.75rem;
}