.statisticsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.statisticsWrapper:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .statisticsWrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-4xl);
    margin-bottom: var(--space-5xl);
  }

  .flexReverse {
    flex-direction: row-reverse;
  }
}
