.header {
  padding: 0 1.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  transition: height 150ms ease;
}

.logo {
    aspect-ratio: 200 / 46.05;
    width: 160px;
    height: auto;
    object-fit: contain;
    transition: width 150ms ease;
}

.nav {
    display: flex;
    align-items: center;
}

.navLinks {
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
}

.primaryLink {
    transition: color 150ms ease;
}

.primaryLink:hover {
    color: var(--color-primary-accent)
}

.navLink {
    display: none;
    cursor: not-allowed;
    pointer-events: none;
    margin-left: 1.5rem;
}

@media (min-width: 580px) {
    .container {
        height: 80px;
    }

    .logo {
        width: 200px;
    }

    .navLink {
        display: block;
    }
}