.bookDetailsImgWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-xl);
}

.bookDetailsImg {
  width: 100%;
  max-width: 300px;
  height: auto;
  aspect-ratio: 1/1;

  @media (min-width: 990px) {
    width: 300px;
  }
}

.bookDetailsImgSkeleton {
  position: absolute !important;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  width: 102%;
  height: 102%;
}
