:root {
  /* Background Colors: */
  --color-primary-bg: #fff;
  --color-secondary-bg: #f1f6f4;
  --color-highlight-bg: #fff3d7;
  --color-info-bg: #d7e9ff;

  /* Accent Colors: */
  --color-primary-accent: #2bd97c;
  --color-secondary-accent: #0365f2;
  --color-btn-hover: #20ba68;

  /* Font Colors: */
  --color-primary-font: #032b41;
  --color-secondary-font: #394547;
  --color-muted-font: #6b757b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--color-primary-bg);
  color: var(--color-primary-font);
  font-family: var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
