.container {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--color-secondary-bg);
}

.message {
  text-align: center;
  text-wrap: balance;
}
