.container {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 60px);
  background-color: #fff;
  transition: height 150ms ease;
}

.message {
  text-align: center;
  text-wrap: balance;
}

@media (min-width: 580px) {
  .container {
    height: calc(100dvh - 80px);
  }
}