.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 2px solid #bac8ce;
  border-radius: var(--space-xs);
  color: var(--color-secondary-font);
  padding: 0 var(--space-sm);
  transition: border-color var(--transition);
}

.inputWrapper {
  position: relative;
}

.input:hover,
.input:focus {
  border-color: var(--color-muted-font);
}

.emailInput,
.passwordInput {
  position: relative;
}

.invalidInputMessage,
.errorMessage {
  font-size: var(--font-size-sm);
  color: var(--color-error);
  margin-top: var(--space-xs);
}

.invalidInputMessage {
  margin-top: var(--space-xs);
}

.errorMessage,
.successMessage {
  text-align: center;
  font-weight: 500;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid;
  border-radius: var(--space-xs);
}

.errorMessage {
  margin-bottom: var(--space-lg);
  border-color: var(--color-error);
  background-color: #ffd6d8;
}

.successMessage {
  border-color: var(--color-success);
  background-color: #2bd97c30;
  color: #00a04b;
}

.invalidInputMessage:empty,
.errorMessage:empty,
.successMessage:empty {
  pointer-events: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  border-width: 0;
}

.passwordInput:has(.passwordVisible:hover) .input,
.passwordInput:has(.passwordVisible:focus) .input {
  border-color: var(--color-muted-font);
}

.validInput,
.validInput:focus,
.validInput:hover,
.passwordInput:has(.passwordVisible:hover) .validInput,
.passwordInput:has(.passwordVisible:focus) .validInput {
  border-color: var(--color-success);
}

.invalidInput,
.invalidInput:focus,
.invalidInput:hover,
.passwordInput:has(.passwordVisible:hover) .invalidInput,
.passwordInput:has(.passwordVisible:focus) .invalidInput {
  border-color: var(--color-error);
}

.validIcon,
.invalidIcon {
  font-size: var(--font-size-lg);
  margin-right: 8px;
}

.validIcon {
  color: var(--color-success);
}

.invalidIcon {
  color: var(--color-error);
}

.emailWrapper {
  position: relative;
}

.emailIcon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.passwordIcons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.passwordVisible {
  display: flex;
  background-color: transparent;
  color: var(--color-secondary-font);
  font-size: var(--font-size-xl);
  padding: 8px 12px;
  transition: color var(--transition);
}

.passwordVisible:hover {
  color: #000;
}
