/* 
  Breakpoints (mobile-first, use min-width):
  - xs: 440px     extra small (small phones)
  - sm: 580px     small (medium/large phones, landscape/small tablets)
  - md: 768px     medium (medium/large tablets)
  - lg: 1024px    large (desktops)

*/

:root {
  color-scheme: light dark;

  /* Background Colors: */
  --color-primary-bg: #fff;
  --color-secondary-bg: #f1f6f4;
  --color-highlight-bg: #fff3d7;
  --color-info-bg: #d7e9ff;

  /* Accent Colors: */
  --color-primary-accent: #2bd97c;
  --color-secondary-accent: #0365f2;
  --color-btn-hover: #1ac86b;

  /* Font Colors: */
  --color-primary-font: #032b41;
  --color-secondary-font: #394547;
  --color-muted-font: #6b757b;

  /* Border Color:  */
  --color-border: #e1e7ea;

  /* Status Colors: */
  --color-success: #2bd97c;
  --color-error: #fb2c36;

  /* Font Sizes: */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-2xl: 2rem; /* 32px */
  --font-size-3xl: 2.5rem; /* 40px */

  /* Spacing Scale: */
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-2xl: 3rem; /* 48px */
  --space-3xl: 4rem; /* 64px */
  --space-4xl: 5rem; /* 80px */
  --space-5xl: 6rem; /* 96px */

  /* Border Radius:  */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* Transition Speed:  */
  --transition: 0.2s ease;
  --transition-spring: 0.35s
    linear(
      0,
      0.0672 3%,
      0.1412 6%,
      0.2241 9%,
      0.3189 11%,
      0.428 14%,
      0.5473 17%,
      0.6557 20%,
      0.7357 23%,
      0.7913 26%,
      0.8312 29%,
      0.8611 31%,
      0.8845 34%,
      0.9031 37%,
      0.9184 40%,
      0.9311 43%,
      0.9418 46%,
      0.9508 49%,
      0.9585 51%,
      0.9651 54%,
      0.9709 57%,
      0.9758 60%,
      0.98 63%,
      0.9837 66%,
      0.9868 69%,
      0.9895 71%,
      0.9918 74%,
      0.9938 77%,
      0.9954 80%,
      0.9967 83%,
      0.9978 86%,
      0.9986 89%,
      0.9993 91%,
      0.9997 94%,
      0.9999 97%,
      1
    );

  /* Navbar:  */
  --navbar-height-mobile: 60px;
  --navbar-height-desktop: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

body {
  background: var(--color-primary-bg);
  color: var(--color-primary-font);
  font-family: var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  color: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.section {
  padding: var(--space-xl) 0;
}

.sectionTitle {
  font-size: var(--font-size-xl);
  font-weight: 700;
  text-wrap: balance;
  color: var(--color-primary-font);
  text-align: center;
  margin-bottom: var(--space-xl);
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 var(--space-lg);
}

.button {
  position: relative;
  width: 100%;
  font-size: var(--font-size-md);
  font-weight: 500;
  text-align: center;
  padding: 0 var(--space-lg);
  border-radius: var(--radius-sm);
  transition: background-color var(--transition);
}

.button:disabled {
  filter: grayscale(30%);
  pointer-events: none;
}

@media (min-width: 768px) {
  .sectionTitle {
    font-size: var(--font-size-2xl);
  }
}
