.container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: calc(100dvh - (3rem + 60px));
  transition: height 150ms ease;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.errorStatus {
  font-size: 2rem;
  font-weight: 700;
}

.errorMessage {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-wrap: balance;
}

.errorDivider {
  display: none;
  width: 2px;
  height: 32px;
  background-color: var(--color-primary-font);
}

@media (min-width: 440px) {
  .container {
    height: calc(100dvh - (3rem + 80px));
  }

  .error {
    flex-direction: row;
    gap: 1rem;
  }

  .errorDivider {
    display: inline;
  }
}