.numbersWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
}

@media (min-width: 768px) {
  .numbersWrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-xl);
  }
}
